/* Recipe card container */
.recipe-card {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */
    background-color: #584022;
}

/* recipe card image that covers only middle top of card */




